/* Estilos generales */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rock-Salt', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0f2fe 0%, #fae8ff 50%, #e0f7fa 100%);
    background-attachment: fixed;
    min-height: 100vh;
}

/* Encabezado y navegación */
header {
    background-color: #190A26;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Banner */
.banner {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

/* Sección de productos */
.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
}

.producto img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.producto h3 {
    margin: 10px 0 5px;
}

.producto p {
    font-weight: bold;
    color: #2a9d8f;
}

button {
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #21867a;
}

/* Pie de página */
footer {
    background-color: #190A26;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.btn-whatsapp {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}

.btn-whatsapp:hover {
    background-color: #1da851;
}

.contenido {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}
